.Transaction {
  font-size: 22px;
  align-items: center;
}

.Transaction thead tr {
  background-color: rgb(108, 228, 112);
  color: white;
}

.Transaction th {
  width: 150px;
  height: 40px;
}

.Transaction td {
  padding-left: 40px;
  text-align: justify;
}

.Transaction tr {
  height: 40px;
  background-color: white;
}

.Transaction tr:nth-child(2n) {
  background-color: rgb(203, 240, 204);
}
